---
layout: base.njk
title: Digital Society | Equality & Diversity
description: Equality & Diversity
---
<h2>Equality & Diversity</h2>

<div class="container">
  <p>We are fully committed to meeting and exceeding legislation, such as the Equality Act 2010 and Human Rights Act 1998. Co-operatives UK provide equality, diversity and inclusion policy templates and also run training on these topics, which we will undertake.
  </p>
  <p>As we expand, we will ensure that we evaluate attitudes to equality and diversity during our hiring process, and ensure that appropriate training in the policy is provided to new joiners. When evaluating prospective business relationships, we will prefer to work with individuals and organizations that have compatible policies and attitudes. We will include a process for continuous improvement in our policies, for example by committing a minimum of days per annum for learning and development on relevant issues and topics.
  <p>
  </p>As a worker co-operative, our policies are inherently democratic and so should reflect the diversity of the organization. In terms of recruitment, we are fully behind the idea that diverse teams solve problems best for society and create the strongest organizations, and we want to build our team with this in mind. We will adopt best practices to maximise the diversity of talent we can attract, for example by setting out flexible working policies, advertising open roles in an accessible way in multiple spaces, and explicitly encouraging under-represented groups to apply.
  <p>
  </p>We wish to contribute profits back to society through charitable contributions or endeavours. In particular, we both believe that access to technical education is of great importance for increasing access to opportunities in tech.
  </p>
</div>
