---
layout: base.njk
title: Digital Society
description: Digital Society, a not-for-profit cooperative building digital products for social good | Home page
---
<section id="home">
  <div class="container">
    <h1 id="home-name">
      <span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span>
    </h1>

    <div id="home-tagline">
      <h2>A not-for-profit cooperative building digital products for social good</h2>
    </div>

    <div class="home-text">
      <p>
        Our mission is to harness technology for the betterment of society, whether through client projects or in-house product development.
      </p>
      <p>
        Believing that people thrive when motivated by ownership and agency, we operate as a worker-owned cooperative.
      </p>
    </div>
  </div>
</section>
<section class="light">
  <div class="container">
    <h2 class="home-subtitle">We get your projects off the ground</h2>

    <div class="home-text">
      <p>
        <a data-umami-event="out-mail" href="mailto:hello@digitalsociety.coop">Get in touch</a>
        if you have a project you want to kick-start with best practices and at pace.
      </p>
      <p>
        We have extensive experience in:
      </p>
      <div class="centered-figures">
        <figure>
          <img alt="coding representation" src="/images/code.svg">
          <figcaption>Web and application development</figcaption>
        </figure>
        <figure>
          <img alt="data representation" src="/images/database.svg">
          <figcaption>Data engineering</figcaption>
        </figure>
        <figure>
          <img alt="cloud representation" src="/images/cloud.svg">
          <figcaption>Cloud engineering</figcaption>
        </figure>
      </div>
      <p>
        We recognize that development extends far beyond delivery and ensure that we meet evolving needs and remain sustainable over time.
        Read more on <a href="/how">how we work</a>.
      </p>
    </div>

    <h2 class="home-subtitle">Who we've worked with</h2>

    <div class="centered-figures">
      <a data-umami-event="out-dudley-editions" href="https://dudleyeditions.com/">
        <figure>
          <img alt="Dudley Editions Logo" src="/images/dudley-editions.png">
          <figcaption>Dudley Editions</figcaption>
        </figure>
      </a>
      <a data-umami-event="out-lost-dot" href="https://www.lostdot.cc/">
        <figure>
          <img alt="Lost Dot Logo" src="/images/lost-dot.webp">
          <figcaption>Lost Dot</figcaption>
        </figure>
      </a>
      <a data-umami-event="out-peterborough-city-council" href="https://www.peterborough.gov.uk/">
        <figure>
          <img alt="Peterborough City Council Logo" src="/images/peterborough-city-council.png">
          <figcaption>Peterborough City Council</figcaption>
        </figure>
      </a>
      <a data-umami-event="out-turbine-education" href="https://www.turbine.education/">
        <figure>
          <img alt="Turbine Education Logo" src="/images/turbine-education.webp">
          <figcaption>Turbine Education</figcaption>
        </figure>
      </a>
      <a data-umami-event="out-vouchsafe" href="https://vouchsafe.id/">
        <figure>
          <img alt="Vouchsafe Logo" src="/images/vouchsafe.jpg">
          <figcaption>Vouchsafe</figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="home-subtitle">What we're building</h2>

    <div class="home-text">
      <p>Tools we're building ourselves for general use.</p>
    </div>

    <div class="home-text">
      <ul id="projects">
        <li>
          <img alt="epcdata.scot logo" src="/images/epcdata-scot.svg">
          <div>
            <h3>
              <a href="https://epcdata.scot" target="_blank">epcdata.scot</a>
            </h3>
            <p>An unofficial REST API for Scottish domestic Energy Performance Certificates (EPCs).</p>
          </div>
        </li>
        <li>
          <img alt="healthdata.scot logo"  src="/images/healthdata-scot.svg">
          <div>
            <h3>
              <a href="https://healthdata.scot" target="_blank">healthdata.scot</a>
            </h3>
            <p>An unofficial REST API for Scottish health service location data.</p>
          </div>
        </li>
        <li>
          <img alt="tap logo" src="/images/tap.svg">
          <div>
            <h3>
              tap <span class="tbc">(coming soon)</span>
            </h3>
            <p>A minimalist platform to unlock the social value of public and private data.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
