---
layout: base.njk
title: Digital Society
description: Landing page
---
<div class='container'>
  <h1><span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span></h1>

  <h2>A co-op building digital products for social good</h2>

  <p>We are a non-profit cooperative. Our mission is to provide digital products to public benefit organisations, without the burden of generating profits for shareholders.</p>
  <p>We are a team with a strong focus on engineering principles and service design and experience building software platforms and products for both private and public sectors. Our work in the private sector has allowed us to perfect our practices and processes, and stay at the forefront of technology. In the public sector, we worked on the National Digital Platform, which gave us insight into the unique challenges faced by public sector organizations.</p>
</div>
