---
layout: base.njk
title: Digital Society
description: Digital Society, a non-profit cooperative building digital products for social good | Home page
---
<div class='container'>
  <h1><span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span></h1>

  <h2>A non-profit cooperative building digital products for social good</h2>
</div>
