---
layout: base.njk
title: Digital Society | Members
description: Members
---
<h2>Members</h2>

<div id="members">
  <div>
    <img src="/images/chris.jpg">
    <a href="https://www.linkedin.com/in/chris-connelly-76a7a437/">Chris Connelly</a>
  </div>

  <div>
    <img src="/images/endre.jpg">
    <a href="https://www.linkedin.com/in/endre-kadas-08417690/">Endre Kadas</a>
  </div>
</div>
