---
layout: base-content.njk
title: Digital Society | News
description: News
---
<a href="/news/first-year" class="news">
  <img alt="Birthday cake with one candle" src="/images/cake.jpg">
  <div>
    <h3>Digital Society is 1 years old!</h3>
    <p>11/12/2024</p>
    <p>Celebrating our first year projects.</p>
  </div>
</a>
