---
layout: base-content.njk
title: Digital Society | Posts
description: Posts
---
<a href="/posts/job-satisfaction" class="posts">
  <img alt="Zen rocks in front of water" src="/images/zen.jpg">
  <div>
    <h3>Job satisfaction</h3>
    <p>15/01/2025</p>
    <p>A self-reflection exercise.</p>
  </div>
</a>
<a href="/posts/first-year" class="posts">
  <img alt="Birthday cake with one candle" src="/images/cake.jpg">
  <div>
    <h3>Digital Society is 1 years old!</h3>
    <p>11/12/2024</p>
    <p>Celebrating our first year projects.</p>
  </div>
</a>
