---
layout: base-content.njk
title: Digital Society | Privacy Policy
description: Privacy Policy
---
<h3>How we get personal information and why we have it</h3>

<h4>This website</h4>
<p>We don't collect any personal information on this website, nor do we store any cookies.</p>

<h4>Software we build</h4>
<p>
  Software we build or run on behalf of our clients will have its own privacy policy detailing exactly what personal information it stores, how, and why.
</p>

<h4>Clients &amp; partners</h4>
<p>During the course of our work, we'll collect information about client representatives, partners and potential new members, including:</p>
<ul>
  <li>Name</li>
  <li>Email address</li>
  <li>Phone number</li>
  <li>Employer</li>
  <li>Job title</li>
  <li>Testimonials</li>
  <li>Day rates</li>
  <li>Working hours and flexible working arrangements</li>
</ul>
<p>We use several third-party services to do our work, which involves processing this data:</p>
<ul>
  <li>
    <a href="https://github.com/">GitHub</a>
    (<a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">privacy policy</a>)
  </li>
  <li>
    <a href="https://www.google.com/drive/">Google Drive</a>
    (<a href="https://policies.google.com/privacy">privacy policy</a>)
  </li>
  <li>
    <a href="https://slack.com/">Slack</a>
    (<a href="https://slack.com/intl/en-gb/trust/privacy/privacy-policy">privacy policy</a>)
  </li>
</ul>
<p>We do not collect any special category data.</p>

<h3>Maintaining this policy</h3>
<p>
  Digital Society is just starting up, so we may add or change the tools and services we use to do our work.
  We'll review and update this policy at least every six months.
</p>

<h3>Your rights and contacting us</h3>
<p>Under data protection law, you have rights including:</p>
<ul>
  <li>
    <strong>Right of access:</strong>
    You have the right to ask us for copies of your personal information.
  </li>
  <li>
    <strong>Right to rectification:</strong>
    You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.
  </li>
  <li>
    <strong>Right to erasure:</strong>
    You have the right to ask us to erase your personal information in certain circumstances.
  </li>
  <li>
    <strong>Right to restriction of processing:</strong>
    You have the right to ask us to restrict the processing of your personal information in certain circumstances.
  </li>
  <li>
    <strong>Right to object to processing:</strong>
    You have the the right to object to the processing of your personal information in certain circumstances.
  </li>
  <li>
    <strong>Right to data portability:</strong>
    You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.
  </li>
</ul>
<p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>
<p>Please contact us at <a href="mailto:hello@digitalsociety.coop">hello@digitalsociety.coop</a> if you wish to make a request.</p>
<p>Our postal address is Digital Society Ltd, Flat 2 10 Tinto Place, Edinburgh, EH6 5FL.</p>

<h3>Complaints</h3>
<p>You can complain to the ICO if you are unhappy with how we have used your data.</p>
<p>
  Information Commissioner’s Office<br>
  Wycliffe House<br>
  Water Lane<br>
  Wilmslow<br>
  Cheshire<br>
  SK9 5AF
</p>
<p>Helpline number: 0303 123 1113</p>
<p>ICO website: https://www.ico.org.uk</p>
