---
layout: base-toc.njk
title: Digital Society | Who we are
description: Who we are
---
<h3 id="not-for-profit">Our beliefs</h3>

<h4 id="not-for-profit">Not-for-profit</h4>

<p>
  People chose to work on something they believe in, in circumstances they can shape, over pure monetary gain.
  The primary goal of a for-profit business is to create value for its shareholders.
  We have seen first hand how this can conflict with its mission or the environment it provides for its workers.
  To avoid this, we incorporated a <strong>not-for-profit</strong> <a href="https://find-and-update.company-information.service.gov.uk/company/SC768012">private company limited by guarantee without share capital</a>.
  This does not mean we don't compensate our workers fairly, however we can only apply our profits to further develop the co-operative or to make payment for social, cooperative, or community purposes.
  This also means we can offer competitive prices for our clients.
</p>

<h4 id="co-operative">Co-operative</h4>

<p>
  People do their best work when they have real agency and ownership over their work and processes.
  As such, we have formed as a worker's <strong>co-operative</strong>, where all our members are also directors with equal voting rights.
  We share all <a href="https://www.ica.coop/en/cooperatives/cooperative-identity">co-operative principles and values</a>.
  We have a formalised decision making process captured by resolutions, which we discuss in bimonthly general meetings that all our members attend.
</p>

<h4 id="digital-products">Building digital products for social good</h4>

<p>
  Technology has the potential to create a more equitable, kinder and harmonious society.
  We spend our time <strong>building digital products for social good</strong>.
  We do this through helping clients with their needs or developing our own products.
</p>

<h3 id="members">Current members</h3>

<div id="members-container">
  <figure>
    <a href="https://www.linkedin.com/in/chris-connelly-76a7a437/">
      <img alt="Picture of Chris Connelly" src="/images/chris.jpg">
      <figcaption>Chris Connelly</figcaption>
    </a>
  </figure>

  <figure>
    <a href="https://www.linkedin.com/in/endre-kadas-08417690/">
      <img alt="Picture of Endre Kadas" src="/images/endre.jpg">
      <figcaption>Endre Kadas</figcaption>
    </a>
  </figure>
</div>
