---
layout: base-toc.njk
title: Digital Society | What we've done
description: What we've done
---
<p>
  As a newly formed organization, our involvement in these projects was prior to starting <span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span>.
</p>

<h3 id="ndp">NHS Scotland digital platform</h3>

<p>
  While working for NHS Scotland, members of our cooperative have been key contributors to the foundations of the <a href="https://www.nationaldigitalplatform.scot">National Digital Platform</a>, the pillar to <a href="https://www.gov.scot/publications/scotlands-digital-health-care-strategy">Scotland's strategy to transform health and wellbeing</a> through the use of digital technology.
  Our work here included establishing:
</p>

<ul>
  <li>
    The <a href="https://www.nationaldigitalplatform.scot/about/developers/">developer platform</a>, on which both platform services and internally developed products are built, deployed and operated.
    The backbone of this was Kubernetes (AWS EKS).
    This included overseeing a transition from Azure to AWS with minimal impact on application teams, and establishing a “service template” to accelerate deployment of new services with standardised deployment and operational patterns.
  </li>
  <li>
    The <a href="https://www.nationaldigitalplatform.scot/service-catalogue/identity-and-access-management-iam/">identity and access management</a> services.
    These consist of OIDC authentication, ABAC (attribute-based access control) authorization, and audit.
  </li>
  <li>
    The <a href="https://www.nationaldigitalplatform.scot/service-catalogue/api-catalogue/enterprise-master-patient-index-empi/">demographics service</a>, which wraps various data sources to make it easier to consume the population’s demographic information.
  </li>
</ul>

<h3 id="shielding">SMS Shielding Service</h3>

<p>
  While working for NHS Scotland, members of our cooperative have built the COVID-19 SMS Shielding Service, which helped vulnerable people shield themselves during the pandemic.
  The service enabled eligible citizens to request groceries, deliveries of vitamin-D, priority online grocery delivery, and information through SMS.
  Citizens unable to use, or uncomfortable with, SMS could phone local authority representitives from whom the service would collate data.
</p>

<p>
  Read more about it in <a href="https://www.gov.scot/binaries/content/documents/govscot/publications/advice-and-guidance/2020/04/coronavirus-covid-19-shielding-guidance-for-local-authorities/documents/covid-19-shielding-guidance-for-local-authorities-and-lrps-15-may-2020/covid-19-shielding-guidance-for-local-authorities-and-lrps-15-may-2020/govscot%3Adocument/COVID%2B-%2BSHIELDING%2B-%2BRedacted%2BGuidance%2Bfor%2Blocal%2Bauthorities%2Band%2BLRPs%2B-%2BVersion%2B2.1%2B14%2BAug.pdf">this report</a> (under heading: "The SMS Shielding Service").
</p>

<h3 id="geospatial">Geospatial data platform</h3>

<p>
  While working at a leading professional services firm, members of our cooperative built a geospatial data processing and visualisation platform to inform data based decision making across several domains.
  The platform featured support for data processing (both automated and ad-hoc), storage, and real-time retrieval with a UI for tabular visualisation and an API to connect to more advanced visualisation tools.
</p>

<p>
  While fundamentally a 3-tier web application, the platform made use of several cutting edge technologies to achieve real-time query responses across multi-terrabyte datasets, including:
</p>

<ul>
  <li>
    <a href="https://h3geo.org/">H3</a> geospatial indexing scheme, enabling fast lookup and aggregation of location-based metrics.
  </li>
  <li>
    <a href="https://parquet.apache.org/">Apache Parquet</a> and <a href="https://arrow.apache.org/">Apache Arrow</a> data formats, enabling efficient storage and processing of large volumes of data stored in cheap object storage (AWS S3).
  </li>
  <li>
    <a href="https://www.rust-lang.org/">Rust</a> programming language, to build maximally efficient and reliable data processing tools.
  </li>
  <li>
    <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html">Amazon Aurora</a> relational database engine, supporting highly scalable storage while maintaining the data integrity and ease-of-use of a traditional RDMS.
  </li>
</ul>

<h3 id="respect">Digitising anticipatory care planning</h3>

<p>
  While working for NHS Scotland, members of our cooperative have been involved in digitising the <a href="https://www.resus.org.uk/respect">Recommended Summary Plan for Emergency Care and Treatment (ReSPECT)</a> process, which creates personalised recommendations for a person’s clinical care and treatment in a future emergency in which they are unable to make or express choices.
</p>

<p>
  The project used <a href="https://openehr.org/">OpenEHR</a>, an open standard specification for health data storage and architecture.
</p>

<h3 id="cloud">Cloud resource management platform</h3>

<p>
  While working at a leading cloud consultancy, members of our cooperative built a multi-cloud operations platform for visualising resources and automating operational tasks.
  The platform provided generic features including resource storage and querying, configuration management, and an SDK supporting automation and visualisation of managed resources.
  Cloud provider support and use-case oriented automation and visualisation were provided by plugins, making the platform extensible to the many cloud providers and operational tasks undertaken by the business.
</p>
