<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="icon" href="/images/logo-transparent-256x256.png">
  <meta name="description" content="{{ description or metadata.description }}">

  {%- css %}{% include "public/index.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>
</head>

<body>
  <nav>
    <a href="/" aria-label="Back to the home page">
      <img id="logo" alt="Digital Society Ltd logo" src="/images/logo-transparent-256x256.png">
    </a>
  </nav>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <img id="coop" alt="Cooperatives UK logo" src="/images/coop.svg">
    <div id="footer-about">
      <h3>About us</h3>
      <ul>
        <li><a href="/members">Members</a></li>
        <li><a href="/equality">Equality & Diversity</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div id="footer-contact">
      <h3>Contact us</h3>
      <ul>
        <li><a href="https://github.com/digital-society-coop">GitHub</a></li>
        <li><a href="https://www.linkedin.com/company/digitalsociety-coop">LinkedIn</a></li>
        <li><a href="mailto:hello@digitalsociety.coop">hello@digitalsociety.coop</a></li>
      </ul>
    </div>
    <p id="footer-registration">Digital Society Ltd is registered in Scotland (SC768012).</p>
  </footer>
</body>

</html>
