<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="icon" href="images/logo-transparent-256x256.png">
  <meta name="description" content="{{ description or metadata.description }}">

  {%- css %}{% include "public/index.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>
</head>

<body>
  {{ content | safe }}
</body>

</html>
