<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="icon" href="/images/logo-transparent-256x256.png">
  <meta name="description" content="{{ description or metadata.description }}">

  {%- css %}{% include "public/index.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>
  <script async src="https://web-analytics-dev.runtime-dev.digitalsociety.coop/script.js" data-website-id="c3b8da5b-2c8f-4150-a1a2-678c538af4d9"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/" aria-label="Back to the home page">
        <img id="logo" alt="Digital Society Ltd logo" src="/images/logo-transparent-256x256.png">
      </a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <a href="https://www.uk.coop" aria-label="To uk.coop">
      <img id="coop" alt="Cooperatives UK logo" src="/images/coop.svg">
    </a>
    <div id="footer-about">
      <h3>About us</h3>
      <ul>
        <li><a href="/how">How we work</a></li>
        <li><a href="/work">What we've done</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div id="footer-contact">
      <h3>Contact us</h3>
      <ul>
        <li><a data-umami-event="out-github" href="https://github.com/digital-society-coop">GitHub</a></li>
        <li><a data-umami-event="out-linkedin" href="https://www.linkedin.com/company/digitalsociety-coop">LinkedIn</a></li>
        <li><a data-umami-event="out-mail" href="mailto:hello@digitalsociety.coop">hello@digitalsociety.coop</a></li>
      </ul>
    </div>
    <p id="footer-registration">
      Digital Society Ltd is a private company limited by guarantee without share capital registered in Scotland (SC768012).
    </p>
  </footer>
</body>

</html>
