@font-face {
  font-family: 'Work Sans';
  src: url('/WorkSans-Light.ttf');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #1f1f28;
  color: #dcd7ba;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.container {
  line-height: 1.25;
  max-width: 960px;
  padding: 1rem;
  width: 100vw;
}

h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.container>h3 {
  margin-top: 2.5rem;
  color: #e6e3cf;
}

strong {
  color: #7aa89f;
}

a {
  color: #7fb4ca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
li {
  & a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

header>nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.toc {
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 2.5rem;
  padding: 1rem 1rem 0.25rem 1rem;

  & header {
    margin-bottom: 0.75rem;
  }

  & ol {
    list-style: none;
    margin: 0;
    padding-left: 0;

    & ol {
      padding-left: 1rem;
    }
  }

  & li {
    margin: 0.75rem 0;
  }
}

#logo {
  height: 3rem;
  aspect-ratio: 1;
  display: block;
}

#members-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#members-container>figure {
  display: block;
  text-align: center;
  margin: 0 1rem;
}

#members-container>figure>img {
  aspect-ratio: 0.75;
}

#privacy {
  line-height: 1.25;
}

footer {
  align-self: center;
  border-top: 1px solid #dcd7ba;
  max-width: 960px;
  padding: 1rem;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "coop about contact"
    "registration registration registration";
}

@media (max-width: 768px) {
  footer {
    grid-template-areas:
      "about"
      "contact"
      "coop"
      "registration";
  }
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  footer ul li {
    margin: 1rem 0;
  }
}

#coop {
  height: 5rem;
  aspect-ratio: 1;
  display: block;
  margin: 1rem;
  grid-area: coop;
}

#footer-about {
  grid-area: about;
}

#footer-contact {
  grid-area: contact;
}

#footer-registration {
  grid-area: registration;
}
