@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #1f1f28;
  color: #dcd7ba;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  justify-content: center;
}

.container {
  container-type: inline-size;
  max-width: 840px;
  padding: 1rem;
  width: 100vw;
}

h1 {
  font-size: 14.5cqw;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.5cqw;
  margin: 0;
  padding: 0;
}

a {
  color: #7fb4ca;
}
