---
layout: base.njk
title: Digital Society | News | Year 1
description: Digital Society is 1 years old!
---
<section>
  <div class="container">
    <div class="article">
      <img alt="Birthday cake with one candle" src="/images/cake.jpg">
      <div>
        <h2>
          <span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span> is 1 years old!
        </h2>
        <p>11/12/2024</p>
        <p><strong>Celebrating our first year projects.</strong></p>
      </div>
    </div>

      <p>
        One year ago today (11/12/2023), we took the leap into entrepreneurship and started working full-time at/on <span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span>, a not-for-profit worker’s cooperative building digital products for social good.
        Our mission: to create a sustainable, empowering work environment while tackling meaningful projects that better society.
      </p>
      <p>
        We first set out as a software development agency, aiming to tackle interesting real world problems, build relationships, and be inspired.
        With no previous agency or tendering experience, or portfolio, we found most of our projects through our network.
        We’ve met some awesome people and worked on exciting projects:
      </p>
      <ul>
        <li>
          <a href="https://orang.energy/">Orang Energy</a>: We are the development partner for Orang Energy, helping people save energy and money through a comprehensive energy savings calculator and connecting them with qualified local installers.
          </li>
        <li>
          <a href="https://dudleyeditions.com/">Dudley Editions</a>: We are the development partner for Dudley Editions, helping to launch a mobile app for creating connections through personalised audiobooks.
        </li>
        <li>
          <a href="https://www.peterborough.gov.uk/">Peterborough City Council</a>: We worked with <a href="https://www.datnexa.com/">Datnexa</a> to help Peterborough City Council make better use of their data for technology enabled care.
        </li>
        <li>
          <a href="https://www.vouchsafe.id/">Vouchsafe</a>: We provided software development support to Vouchsafe, helping to increase access to public services and products by making use of the trusted relationships people already have.
        </li>
        <li>
          <a href="https://www.lostdot.cc/">Lost Dot</a>: We helped maintain and enhance the application site for Lost Dot, a charity organising long distance bike races.
        </li>
        <li>
          <a href="https://www.datnexa.com/">WA Health</a>: We provided technical project scoping advice to WA Health, in their mission to streamline GP workflows.
        </li>
      </ul>
      <p>
        We have also managed to dedicate time to building an in-house data accessibility product.
        While we aren’t quite ready to unveil the product itself (watch this space!), an artefact of this work is <a href="https://epcdata.scot">https://epcdata.scot</a>, which simplifies programmatic access to Scottish domestic Energy Performance Certificates.
      </p>
      <p>
        Please don’t hesitate to get in touch if you have an interesting project you’d like to get off the ground.
        We’re particularly interested in data accessibility – publishing, integration, sharing, etc – or anything whose goal is to better society through software.
      </p>
      <p>
        We’d also love to chat if you are thinking of taking a leap and starting something similar, to share ideas, or to otherwise collaborate.
      <p>
        We’re excited to see what year 2 brings!
      </p>
    </div>
  </div>
</section>
