---
layout: base.njk
title: Digital Society | Posts | Job satisfaction
description: Job satisfaction
---
<section>
  <div class="container">
    <div class="article">
      <img alt="Zen rocks in front of water" src="/images/zen.jpg">
      <div>
        <h2>Job satisfaction</h2>
        <p>15/01/2025</p>
        <p><strong>A self-reflection exercise.</strong></p>
      </div>
    </div>

    <p>
      One of the driving discussions that led to the creation of
      <span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span>
      was a wider exploration of what it means to be satisfied at work.
      A result of it is a crude methodology we think is a useful exercise of self-reflection worth sharing.
    </p>
    <p>
      You can try this by prioritizing your "how?", "what?" and "why?" and pair this with that of your current
      workplace/role/job with
      the aid of these questions:
    </p>

    <h4>How?</h4>
    <p>
      This could be summarised as the "culture":
    </p>
    <ul>
      <li>
        <strong>People</strong>:
        Are the people you work with good to work with?
        If you are looking to make friends at work, are these people that could be that?
      </li>
      <li>
        <strong>Processes</strong>:
        Are there strong processes at work?
        Is improvement of these processes part of those processes?
        Are new people onboarded well?
        When something goes wrong, is the reaction to try to improve the processes or to blame someone?
      </li>
      <li>
        <strong>Agency</strong>:
        Do you feel like you have agency over your day?
        Can you have a say on the direction of your workplace?
      </li>
      <li>
        <strong>Tools</strong>:
        Do you get to use the tools you want to at your work?
        Are these tools provided by your workplace?
      </li>
      <li>
        <strong>Learning</strong>:
        Are you challenged at work?
        Are you learning things you see beneficial for your future?
        Is learning part of your job and do you get to do it as part of your day?
      </li>
    </ul>

    <h4>What?</h4>
    <p>
      This is related to the mission of the workplace and your part in it:
    </p>
    <ul>
      <li>
        <strong>Values</strong>:
        Does what you are working on align with your values?
        Does the mission of the workplace align with yours?
        Does the leadership resonate with you?
      </li>
      <li>
        <strong>Meaning</strong>:
        Do you feel like your contribution is meaningful and is a vital part of the bigger whole?
      </li>
      <li>
        <strong>Acknowledgment</strong>:
        Do you feel like your efforts are acknowledged?
      </li>
      <li>
        <strong>Accomplishment</strong>:
        Do you get a sense of accomplishment from work?
        Do you feel like your workplace is on course to achieve its mission?
      </li>
    </ul>

    <h4>Why?</h4>
    <p>
      This is related to how a job fits into or affords your wider life:
    </p>
    <ul>
      <li>
        <strong>Schedule</strong>:
        Does it fit with your schedule or lifestyle you want?
        Does it match your desired routines for bedtime?
        Do you need to work shifts and is unpredictable?
        Can you take holidays when you want?
      </li>
      <li>
        <strong>Flexibility</strong>:
        Do you feel agency over your time?
        Given you get my tasks done, can you run chores when you need to without asking for time off?
        Can you get time off when it is convenient for you?
        Can you work part-time?
      </li>
      <li>
        <strong>Remuneration</strong>:
        Do you get paid a salary you find fair?
        Is the salary enough to support your lifestyle?
        Are there share options or potential for a big exit?
        Does it have great pension or other supplementary packages?
      </li>
      <li>
        <strong>Stability</strong>:
        Do you think role/company will exist in a desired timescale?
      </li>
    </ul>

    <p class="gap">
      In thinking about this, you can assign some kind of numeric scoring, both to your own priorities and your work, to
      see how they stack up.
      I like to visualise this with a FIFA style player comparison radar chart.
      For example:
    </p>
    <div class="centered-figures">
      <figure class="large">
        <img alt="radar chart of a misaligned job to priorities" src="/images/misaligned-job.png">
        <figcaption>Misaligned priorities</figcaption>
      </figure>
      <figure class="large">
        <img alt="radar chart of a job aligned with priorities" src="/images/aligned-job.png">
        <figcaption>Aligned priorities</figcaption>
      </figure>
      <figure class="large">
        <img alt="radar chart of a perfect job" src="/images/perfect-job.png">
        <figcaption>Perfect job</figcaption>
      </figure>
    </div>

    <p>
      Hopefully by doing this, you can understand what you may need to change about your current workplace, what to look
      for in your next job, or just gained a better understanding as to why you are so happy all time!
      At <span style="color: #957fb8">Digital</span>&#8203;<span style="color: #7aa89f">Society</span> we try to use
      this exercise to continously improve our workplace and incorporated it into our retrospectives.
    </p>
  </div>
</section>
